{
    "Source" : "",

    "DepthStencilState" :
    {
        "Depth" :
        {
            "Enable" : true,
            "CompareFunc" : "GreaterEqual"
        },
        "Stencil" :
        {
            "Enable" : true,
            "ReadMask" : "0x00",
            "WriteMask" : "0xFF",
            "FrontFace" :
            {
                "Func" : "Always",
                "DepthFailOp" : "Keep",
                "FailOp" : "Keep",
                "PassOp" : "Keep" // TODO. WAS "Replace" When sampling from subpass must be "Keep".
            },
            "BackFace" :
            {
                "Func" : "Always",
                "DepthFailOp" : "Keep",
                "FailOp" : "Keep",
                "PassOp" : "Keep" // TODO. WAS "Replace" When sampling from subpass must be "Keep".
            }
        }
    },

    "ProgramSettings":
    {
      "EntryPoints":
      [
        {
          "name": "VertexShader",
          "type": "Vertex"
        },
        {
          "name": "PixelShader",
          "type": "Fragment"
        }
      ]
    },

    "DrawList" : "multiViewForward"
}

